body {
  margin: 0;
  padding-left: 10vw;
  padding-top: 10vh;
}

.svgContainer {
  margin-bottom: 100vh;
}

.midden {
  width: 80vw;
  height: 120vh;
  background-color: purple;
}

polygon {
  stroke: white;
  fill: none;
}

line {
  stroke: white;
}
